<!DOCTYPE html>

<html>
<head>
    <meta name="description" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>SevvalOzkan-@ViewBag.Title</title>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li><a href="~/Home/Listele">Listele</a></li>
            <li><a href="~/Home/Ekle">Ekle</a></li>
        </ul>

    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
